---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'
import Footer from '../components/Footer.astro'
---

<style>
    .container {
        display: grid;
        grid-template-columns: 1fr min(85rem, calc(100% - 8rem)) 1fr;
        grid-column-gap: 4rem;
    }

    /* There seems to be a bug in Astro's CSS parsing */
    /* That prevents this rule from working without the :global identifier */
    :global(.container > *) {
        grid-column: 2;
    }
</style>

<!doctype html>
<html lang="en-US">
    <Head />
    <body>
        <div class="container">
            <Header />
            <Main />
            <Footer />
        </div>
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "97fc130a4bf24001a32292912f8dd01f"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
