---
---

<style>
    footer {
        margin: 10rem 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .headline {
        font-size: 2.75rem;
        font-weight: 600;
    }

    a {
        font-size: 2.75rem;
        font-weight: 400;
        text-decoration: none;
    }

    li {
        margin-top: 2rem;
    }

    li:nth-child(1) {
        margin-top: 0;
    }
</style>

<footer>
    <ul>
        <li>
            <div class="headline">Meet</div>
            <a href="https://calendly.com/pruett/1-1">Calendly</a>
        </li>

        <li>
            <div class="headline">Follow</div>
            <a href="https://twtitter.com/pruett">Twitter</a>
        </li>

        <li>
            <div class="headline">Code</div>
            <a href="https://github.com/pruett">GitHub</a>
        </li>
    </ul>
</footer>
