---
---

<style>
    footer {
        margin: 10rem 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header {
        font-weight: 600;
        line-height: 1;
    }

    .link {
        font-weight: 600;
        text-decoration: none;
    }

    .item {
        margin-top: 2rem;
    }

    .item:nth-child(1) {
        margin-top: 0;
    }
</style>

<footer>
    <ul>
        <li class="item">
            <div class="header">Meet</div>
            <a class="link" href="https://calendly.com/pruett/1-1">Calendly</a>
        </li>

        <li class="item">
            <div class="header">Follow</div>
            <a class="link" href="https://twitter.com/pruett">Twitter</a>
        </li>

        <li class="item">
            <div class="header">Code</div>
            <a class="link" href="https://github.com/pruett">GitHub</a>
        </li>
    </ul>
</footer>
