---
export let title = 'Kevin Pruett – software developer and user interface designer'
export let description = 'Kevin Pruett writes software and designs interfaces to amplify the human experience'
---

<style>
    @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: url("/inter-var-latin.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
            U+2212, U+2215, U+FEFF, U+FFFD;
    }

    :global(:root) {
        --color-white: #fafafa;
        --color-gray: #727272;
        --color-light-blue: #15beec;
        --color-blue: #009ec9;
        --color-slate: #222;
        --color-black: #141414;
        --background-color-light: var(--color-white);
        --background-color-dark: var(--color-black);
        --font-family: "Inter", -system-ui, -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, Helvetica, Arial, apple color emoji,
            segoe ui emoji, segoe ui symbol, sans-serif;
    }

    :global(html) {
        /* set base font-size to 10px (62.5% of 16px/browser default size) */
        /* use `rem` to set future font-sizes on 10px scale */
        font-size: 62.5%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-family: var(--font-family);
    }

    :global(body) {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 2rem;
        background-color: var(--background-color-light);
        color: var(--color-slate);
    }

    :global(a) {
        color: var(--color-blue);
    }

    :global(a:hover) {
        color: var(--color-light-blue);
    }

    @media (prefers-color-scheme: dark) {
        :global(a) {
            color: var(--color-light-blue);
        }

        :global(body) {
            background-color: var(--background-color-dark);
            color: var(--color-white);
        }
    }

    @media (min-width: 860px) {
        :global(body) {
            font-size: 2.4rem;
            line-height: 1.6666666667;
        }
    }

    @media (min-width: 1040px) {
        :global(body) {
            font-size: 2.8rem;
            line-height: 1.6071428571;
        }
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{description}" />
    <meta name="theme-color" content="#fafafa">
    <link rel="icon" href="favicon.svg">
    <link rel="mask-icon" href="mask-icon.svg" color="#000">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="manifest" href="manifest.json">
    <title>{title}</title>
    <link
        rel="preload"
        href="/inter-var-latin.woff2"
        as="font"
        type="font/woff2"
        crossorigin="anonymous"
    />
</head>
